body {
    margin: 0; 
    color: #414042;;
}
.navbar {
    background: #fbfbfb;
    padding-bottom: 3.125rem;
}
.nav-btn {
    border: none;
    margin: 0 1.25rem;
    color: #414042;
    font-weight: 500;
    background: #ccd0c7;
    padding: 0.313rem 1.25rem;
}
.caption {
    margin-left: 5%;
    margin-top: 5%;
    width: 35%;
}
.caption-text {
    font-size: 2vw;
}
.caption h3 {
    margin-bottom: 0;
}
.caption h1 {
    margin-bottom: 0;
    font-size: 4.5vw!important;
}
.green {
    font-weight: bolder;
}
.images {
    position: relative;
    left: 49%;
    bottom:25vw;
    width: auto;
}
.img{
    width:50%;
}