body {
    margin: 0; 
    color: #414042;;
}
/* NAVBAR */
.logo {
    width: 80%;
}
.navbar {
    background: #fbfbfb;
    padding-bottom: 3.125rem;
}
.nav-item {
    margin: 0 1.25rem;
}
.nav-btn {
    border: none;
    font-weight: ;
}
.navbar-nav {
    margin-right: 5%;
}
.nav-link {
    padding: 0!important;
}
/* CAPTION*/
.caption {
    margin-left: 5%;
    margin-top: 5%;
    width: 35%;
}
.caption-text {
    font-size: 2vw;
}
.caption h3 {
    margin-bottom: 0;
}
.caption h1 {
    margin-bottom: 0;
    font-size: 4.5vw!important;
}
.green {
    font-weight: bolder;
}
.images {
    position: relative;
    left: 49%;
    bottom:30vw;
    width: auto;
}
.img{
    width:50%;
}
.btn-1 {
    width: 15.5vw;
    height: 4.5vw;
    border: none;
    padding: 10px;
    font-size: 1.5vw;
    border-radius: 1vw;
    color: #fafafa;
    background-color: #526143;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

@media onlyscreen and (max-width:984px) {
    .navbar-nav {
        margin-left:80%;
    }
    
}