body {
    margin: 0; 
    color: #414042;;
}
/* NAVBAR */
.logo {
    width: 70%;
}
.navbar {
    background: #fbfbfb;
    padding-bottom: 3.125rem;
}
.navbar-toggler-icon {
    font-size: 80%!important;
}
.nav-item {
    margin: 0 1.25rem;
}
.nav-btn {
    color: #414042;
    font-weight: 600;
}
.nav-btn:hover {
    color: #2b2a2c;
}
.navbar-nav {
    margin-right: 5%;
}
.nav-link {
    padding: 0!important;
    text-align: right;
}
/* CAPTION*/
.caption {
    margin-left: 5%;
    margin-top: 5%;
    width: 35%;
}
.caption-text {
    font-size: 2vw;
}
.caption h3 {
    margin-bottom: 0;
}
.caption h1 {
    margin-bottom: 0;
    font-size: 4.5vw!important;
}
.green {
    font-weight: bolder;
}
.images {
    position: relative;
    left: 49%;
    bottom:30vw;
    width: auto;
}
.img{
    width:50%;
}
.btn-1 {
    width: 15.5vw;
    height: 4.5vw;
    border: none;
    padding: 10px;
    font-size: 1.5vw;
    border-radius: 1vw;
    color: #fafafa;
    background-color: #526143;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

@media (max-width: 990px) {
  
}   